.settings {
    width: 90%;
    margin: 0 auto;
}

.container > .button {
    margin-right: 10px;
}

.label > p {
    margin: 0;
    margin-bottom: 10px;
    margin-left: 5px;
}

.group {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
/* .group {
    display: inline-block;
} */