.upload {
    text-align: center;
    animation: OpacityTransition 1s forwards;
}

.header1 {
    font-size: 3em;
    margin: 0.5em 0;
}

.header2 {
    margin-top: 0;
    margin-bottom: 1.5em;
    color: var(--sub-color);
}

@keyframes OpacityTransition {
    from { opacity: 0 }
    to { opacity: 1 }
}