.input {
    display: block;
    outline: none;
    background: var(--sub-alt-color);
    color: var(--text-color);
    border: 1px solid;
    border-color: var(--border-default-opacity);
    transition: border-color var(--hover-transition);
    border-radius: var(--button-roundness);
    width: 225px;
    padding: 10px 15px;
    letter-spacing: 4px;
}

.input:hover {
    border-color: var(--border-default);
}
.input:focus {
    border-color: var(--text-color);
    transition: none;
}